<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2 class="mb-4">プロフィール編集</h2>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <p class="mb-1">入力内容にエラーがあります。</p>
          <ul class="mb-0">
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

        <%= form_with model: @user, url: user_path(@user), local: true, html: { multipart: true } do |f| %>
           <div class="mb-3">
            <%= f.label :profile_image, "アイコン画像", class: "form-label" %><br>

            <% if @user.profile_image&.attached? %>
              <div class="mb-2">
                <%= image_tag @user.get_profile_image(80, 80), class: "rounded-circle" %>
              </div>
            <% end %>

        <%= f.file_field :profile_image, class: "form-control", accept: "image/*" %>
        <small class="text-muted">※ 正方形の画像を推奨します</small>
      </div>

        <div class="mb-3">
          <%= f.label :name, "名前", class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :area_id, "地域（都道府県）" %>
          <%= f.collection_select :area_id, Area.all, :id, :name,
                { prompt: "選択してください" },
                { class: "form-control" } %>
        </div>


        <div class="mb-3">
          <%= f.label :introduction, "紹介文", class: "form-label" %>
          <%= f.text_area :introduction, rows: 5, class: "form-control", placeholder: "自己紹介や育児のことなどを書いてみましょう" %>
        </div>

        <div class="d-flex justify-content-between">
          <%= link_to "マイページに戻る", mypage_path, class: "btn btn-outline-secondary" %>
          <%= f.submit "更新する", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>


<hr class="my-4">

<div class="text-end">
  <%= button_to "退会する",
                user_path(@user),
                method: :delete,
                data: { confirm: "本当に退会しますか？\nアカウント情報は削除されます。" },
                class: "btn btn-outline-danger" %>
</div>

