<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="mb-3">投稿編集</h4>

      <%= form_with model: @post, local: true do |f| %>
        <div class="mb-2">
          <%= f.label :title, "タイトル", class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-2">
          <%= f.label :body, "本文", class: "form-label" %>
          <%= f.text_area :body, rows: 5, class: "form-control" %>
        </div>

        <div class="text-end">
          <%= f.submit "更新する", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
