<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= u.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to "Show", admin_user_path(u) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Dashboard", admin_root_path %></p>
